@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform;
  @apply scale-75;
  @apply -translate-y-6;
  @apply -translate-x-3;
}

input:focus ~ label {
  @apply left-0;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #404040 #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
